#Entorno virtual
venv/

#Caches de python

__pycache__/
*.py[cod]

#Archivos de datos cifrados locales , Bovedas

*.enc
*.db
vault.json

#Archivos de entorno y cofiguracion local

.env
.vscode
.idea/
Razon.txt
